@model IEnumerable<Domain.Entities.IndiceMonetario>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice Monetário</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeIndice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodBancoCentral)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeIndice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodBancoCentral)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
